1.#Create & activate venv
python -m venv .venv
.\.venv\Scripts\activate
python.exe -m pip install --upgrade pip
python --version
py --list
py -3.10 -m venv .venv
.\.venv\Scripts\activate

2.# Document Parsing
pip install PyPDF2 pdfplumber
pip install python-docx
pip install pytesseract pillow

3.# Gemini + Env
pip install -U google-generativeai
pip install python-dotenv
setx GOOGLE_API_KEY "AIzaSyCPY-2iglQwc8AbFhJqmMxd-7csgqitpL4"

4.# TTS + Dependencies
python -m pip install --upgrade pip setuptools wheel
pip install torch torchaudio soundfile
pip install TTS

5.# Vector DB
pip install chromadb
pip install onnxruntime
pip install sentence-transformers

6.# Frontend
pip install streamlit

7.# Run App
streamlit run app.py